node_modules/
dist/
build/
.env
.vscode/
.DS_Store
Thumbs.db
backend/src/generated/
problems.json

backend/scripts/

FUTURE.md
MATCHMAKING.md
MODULE.md
POSTMAN.md
BULLMQ.md
PROJECT.md
SUBMISSION.md
REPORT.md
DEPLOYMENT.md
DRIVER.md
TOURNAMENT.md
FEATURES.md
