node_modules/
dist/
build/
.env
.vscode/
.DS_Store
Thumbs.db
backend/src/generated/

backend/scripts

BULLMQ.md
DEPLOYMENT.md
DRIVER.md
FEATURES.md
FUTURE.md
MATCHMAKING.md
POSTMAN.md
PROJECT.md
REPORT.md
SOCKET.md
SUBMISSION.md
TOURNAMENT.md